DB_TYPE=mssql
DB_HOST=protheus_mssql
DB_PORT=1433
DB_USER=sa
DB_PASS=A123456b
DB_NAME=PROTHEUS

DBACCESS_SERVER=protheus_dbaccess
DBACCESS_ALIAS=PROTHEUS
DBACCESS_PORT=7890

PROTHEUS_DATA_PATH=./protheus12/protheus_data
PROTHEUS_APO_PATH=./protheus12/protheus/apo/

LICENSE_SERVER=protheus_license
LICENSE_SERVER_PORT=5555